body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(rgb(86, 60, 148), rgb(214, 255, 226));
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: rgb(86, 60, 148);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #f0f0f0;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #3d9047;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #997bfb;
}

.hasil {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Background gelap agar teks putih terlihat */
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: white; /* Warna teks putih */
}

.hasil p {
    margin: 5px 0;
}